<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %> - <%= htmlWebpackPlugin.options.versions.zzyzxUi%></title>
  </head>
  <body>
  <div class="footer">
    <ul class="footer__version-list">
      <li class="footer__version-list-item">React: <%= htmlWebpackPlugin.options.versions.react%></li>
      <li class="footer__version-list-item">ReactDOM: <%= htmlWebpackPlugin.options.versions.react%></li>
      <li class="footer__version-list-item">zzyzx-ui: <%= htmlWebpackPlugin.options.versions.zzyzxUi%></li>
    </ul>
  </div>
  </body>
</html>
